// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom styles
@import "dashboard";
@import "mobile";
@import "login";
@import "_quickadder";

@import "pages/_exercises";
@import "pages/_sets";

body{
  background-color: $background-color;
  background-image: url(/images/background-dumbbell-white-mirror.png);
  @include media-breakpoint-up(md) {
    background-size: 5%;
  }
  @include media-breakpoint-down(lg) {
    background-size: 30%;
  }
}
