// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom styles
@import "dashboard";
@import "mobile";
@import "login";

body{
  background-color: $background-color;
  background-size: 5%;
  background-image: url(/images/background-dumbbell-white-mirror.png);
}
